.buttons{
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    text-align: center;
    vertical-align: center;
}

.btn{
    width: 10rem;
    padding: 10px;
    border: 0;
    color: black;
    font-size: 14px;
}

.btn.btn-command {
    background-color: #FFE5EB;
    border: 0;
}

.btn.btn-primary-note {
    background-color: #FFE5EB;
    margin: 5px;
    border: 0;
}

.editor{
    margin: 20px;
}

.btn.transparent-btn {
    background-color: transparent;
    color: #ee82ee;
    border: 0;
    padding: 0;
    font-size: 14px;
}