.buttons{
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
}

.btn.btn-primary-note {
    background-color: #ee82ee;
    border: 0;
    margin: 5px;
    width: 10rem;
    padding: 10px;
    font-size: 14px;
}

.btn.btn-primary {
    background-color: transparent;
    color: #ee82ee;
    border: 0;
    padding: 0;
    font-size: 14px;
}